body {
    margin:0;
    padding:0;
    color:#000;
    background:#fff;
    text-align: center;
}
#geral {
    width:90%;
    margin:0 auto;
    background:#ddd;
}
#cabecalho {
    padding:10px;
    background:#fdd;
}
#lateral-esquerda {
    float:left;
     /* diminuimos a largura para não quebrar o layout. 
      * valor antigo 220
      */
    width:20%;
    padding:10px;
    background:#bfb;
}
#corpo {
    float:left;
    width:50%;
    padding:10px;
    background:#ddf;
}
#lateral-direita {
    float:right;
    width:20%;
    padding:10px;
    background:#dff;
}
#rodape {
    clear:both;
    padding:10px;
    background:#ff9;
}
.tabela{
	border: 1;
}
